.container {
  display: flex;
  overflow-x: auto;
  padding: 8px 0;
  gap: 20px;

  scrollbar-width: thin;

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }
}
